<h1>Posts about <%= @topic.name %></h1>
<ul>
    <div class='topics'>
        <% @topic.posts.each do |post| %>
            <li>
                <%= link_to post.title, post_path(post) %>
            </li>
        <% end %>
    </div>
</ul>