body {
    margin: 0 auto;
    max-width: 70%;
}

h1 {
    color: #232323;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-bottom: 7px;
    text-align: center;
}

h1 a {
    color: #232323;
}

h1 a:hover{
    background-color: #0073cf;
    color: #fff;
}

.author {
    color: #0073cf;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-bottom: 15px;
    text-align: center;
}

.content {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    text-align: justify;
}

.comments {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.comments a{
    color: lightslategray;
    text-decoration: none;
}

.comments a:hover{
    background-color: #0073cf;
    color: #fff;
}

.nav-bar{
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.nav-bar a{
    color: #0073cf;
    text-decoration: none;
}

.nav-bar a:hover{
    background-color: #0073cf;
    color: #fff;
}

.site-name{
    color: #232323;
}

.topics {
    color: #0073cf;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-top: 10px;
}

.topics a{
    color: #0073cf;
}

.topics a:hover{
    background-color: #0073cf;
    color: #fff;
}